 :root {
  --font-color-black:#333333;
  --font-color-gray:#949494;
  --font-color-orange:#FFBD54;
  --font-color-blue:#3D9CEA;
  --font-color-white:#fff;
  --font-color-blue: #78C0DE;
  --bg-color-orange:#FFBD54;
  --bg-color-black:#333333;
  --bg-color-green:#F4FFAD;
 }

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
  url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Futura PT","Arial",sans-serif;
  background-color: #F9F9F9;
  background-image: url("../img/bg-body.png");
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* TODO TOP-HEADER  */

.header {
  position: relative;
}

.top-side-header {
  position: relative;
}

.top-side-header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ts-header__addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--font-color-black);
  padding-left: 22px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 105px;
}

.ts-header__list{
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 95px;
}

.ts-header__item {
  padding-left: 9px;
  display: flex;
  align-items: center;
}

.ts-header__link {
  text-decoration: none;
  color: var(--font-color-black);
}

.ts-header__link:hover{
  color: var(--font-color-orange);
}

.ts-header__link:active {
  color: var(--font-color-orange);
  opacity: 0.6;
}

.item-phone {
  padding-left: 22px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: left  center;
}

.ts-header__list li:not(:first-child)::before{
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--bg-color-orange);
  display: block;
  border-radius: 50%;
  margin-right: 9px;
}

.ts-header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--font-color-black);
}

.ts-header__list--time {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-right: -17px;
}

.ts-header__item--time {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--font-color-black);
  margin-right: 17px;
}

.item-time {
  padding-left: 21px;
  background-image: url("../img/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: left  center;
}

.ts-header__item--time span {
  font-weight: 600;
}

/* TODO NAV  */

.nav {
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.nav__img {
  position: absolute;
  top: -18px;
  bottom: -7px;
}

.nav__container {
  display: flex;
  align-items: center;
}

.nav__img {
  width: 177px;
  height: 86px;
}

.nav__img:hover{
  opacity: 0.8;
}

.nav__img:active {
  opacity: 0.6;
}

.nav__list {
  padding-left: 0;
  padding-top: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.nav__item {
  padding-left: 55px;
  position: relative;
}

.nav__link {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: var(--font-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.nav__link:active {
  opacity: 0.6;
}

.nav__link:hover::after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--bg-color-green);
  display: block;
  position: absolute;
  bottom: 4px;
  z-index: -11;
}

.nav__link:active::after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--bg-color-green);
  display: block;
  position: absolute;
  bottom: 4px;
  z-index: -11;
}

.nav-item__active::before{
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 20px;
  top: 2px;
  background-image: url("../img/logo-fish-active.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  display: none;
}

.nav__item .nav-item__active::before {
  display: block;
}

.nav__question {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url("../img/icon-dog-hand.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.nav-question__link {
  text-decoration: none;
  color: var(--font-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  position: relative;
  z-index: 5;
}

.nav-question__link:hover::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--bg-color-green);
  display: block;
  position: absolute;
  bottom: 4px;
  z-index: -11;
}

.nav__question:active{
  opacity: 0.6;
}

/* TODO HERO  */

.hero {
  background-image: url("../img/img-bg-hero-pets.png"),url("../img/img-bg-hero-parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 500px) calc(50% - 120px),calc(50% + 687px) calc(50% + 150px);
}

.hero__container {
  padding-top: 150px;
  padding-bottom: 240px;
}

.hero__box {
  width: 610px;
  margin-left: auto;
}

.hero__title {
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--font-color-black);
  margin: 0;
  margin-bottom: 30px;
}

.hero__title span {
  color: var(--font-color-blue);
}

.hero__text {
  width: 495px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: var(--font-color-gray);
}

.button {
  text-decoration: none;
  padding: 14px 0;
  color: var(--font-color-white);
  display: inline-block;
  border-radius: 3px;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--black {
  background-color: var(--bg-color-black);
}

.hero__button {
  padding: 14px 48px;
  margin-top: 38px;
}

/* TODO QUOTES  */

.quotes__container {
  padding-top: 70px;
  padding-bottom: 140px;
}

.quotes__box {
  margin-bottom: 35px;
}

.quotes__box::before{
  content: "";
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}

.quotes__box::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.quotes__blockquote {
  width: 753px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--font-color-gray);
  display: flex;
  position: relative;
}

.quotes__blockquote::before{
  content: "";
  width: 142px;
  height: 128px;
  display: block;
  background-image: url("../img/quote-opened.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -24px;
  left: -90px;
}

.quotes__blockquote::after{
  content: "";
  width: 142px;
  height: 78px;
  display: block;
  background-image: url("../img/quote-closed.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: -35px;
  right: -180px;
}

.quotes__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--font-color-black);
  text-align: center;
}

/* TODO SERVICE  */

.service__list{
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-right: -7px;
  margin-left: -7px;
}

.service__box {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  overflow-x: hidden;
}

.service__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: var(--font-color-black);
  margin-bottom: 80px;
  margin-top: 0;
}

.service__item {
  width: 193px;
  background-color: #fff;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  margin-right: 7px;
  margin-left: 7px;
}

.service__link {
  display: inline-block;
  padding: 130px 30px 28px ;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--font-color-black);
}

.item__link--doctor__man {
  background-image: url("../img/logo-dog-doctor-man.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--doctor__woman {
  background-image: url("../img/logo-dog-doctor-woman.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--surgery {
  background-image: url("../img/logo-dog-surgery.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--dermotology {
  background-image: url("../img/logo-dog-dermotology.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--laboratory {
  background-image: url("../img/logo-dog-laboratory.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--ophthomology {
  background-image: url("../img/logo-dog-ophthalmology.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}
.item__link--ultrasound {
  background-image: url("../img/logo-dog-ultrasound-diagnostics.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}
.item__link--chipping {
  background-image: url("../img/logo-dog-chipping.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--passport {
  background-image: url("../img/logo-dog-passport.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--vaccine {
  background-image: url("../img/logo-dog-vaccine.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--stomatology {
  background-image: url("../img/logo-dog-stomatology.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.item__link--calling {
  background-image: url("../img/icon-calling.svg");
  background-repeat: no-repeat;
  background-position: center top 30px;
}

.service__bottom {
  position: relative;
  padding-left: 36px;
  padding-right: 36px;
}

.slide {
  padding: 20px;
  display: block;
  background-color: transparent;
  border: none;
}

.slide:hover {
  background-color: #fff;
  opacity: 0.8;
}

.slide:active {
  background-color: #fff;
  opacity: 0.6;
}

.slide--left {
  background-image: url("../img/icon-slide-left.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 26px;
  position: absolute;
  top: 50% ;
  left: -10px;
}

.slide--right {
  background-image: url("../img/icon-slide-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 24px;
  position: absolute;
  top: 50%;
  right: -10px;
}

.service__list--active {
  padding-left: 38px;
  list-style: none;
  margin-bottom: 147px;
}

.service__item--active {
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 35px;
  background-color: #fff;
}

.service__box--active {
  display: flex;
}

.service-active__box {
  padding-left: 28px;
  padding: 74px 50px 74px 105px;
}

.service__title--active{
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--font-color-black);
  margin: 0;
  padding-bottom: 18px;
}

.service__text--active {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--font-color-gray);
  margin: 0;
  padding-top: 9px;
}

.button--orange {
  background-color: var(--bg-color-orange);
}

.service__button--active {
  padding: 14px 35px 14px 64px;
  margin-top: 34px;
}

.service__cash {
  margin-right: 21px;
  background-image: url("../img/icon-cash.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position:left 35px center ;
}

.service__doc {
  background-image: url("../img/icon-doc.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position:left 35px center ;
}

/* TODO NEWS  */

.news {
  background-image: url("../img/img-bg-news.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.news__container {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}


.news__title {
  font-weight: bold;
  font-size: 48px;
  display: flex;
  align-items: center;
  color: var(--font-color-white);
  margin: 0;
  margin-bottom: 32px;
  margin-left: 222px;
}

.news__button {
  padding: 15px 52px;
  border: none;
}

.news__input {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 335px;
  padding-left: 22px;
  border-radius: 5px;
  border: 3px solid transparent;
}

.news__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  color: var(--font-color-gray);
}

.news__input:not(:placeholder-shown):not(:focus):invalid{
  border-color: red;
}

.news__input:not(:placeholder-shown):not(:focus):valid{
  border-color: greenyellow;
}

.news-form__box{
  display: flex;
  margin-left: 222px;
}

.news-form__box::after {
  content:"";
  width: 613px;
  height: 481px;
  display: block;
  background-image: url("../img/img-bg-part-of-dog.png");
  position: absolute;
  background-size: 613px 481px;
  bottom: -65px;
  right: 0;
}

/* TODO RULES  */

.rules {
  margin-top: 150px;
}

.rules__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
  margin-top: 70px;
}

.rules__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-left: -24px;
}

.rules__item {
  width: 305px;
  margin-left: 24px;
  border-radius: 5px;
  border: 1px solid #E4E4E2;
  height: 435px;
}

.rules__img {
  width: 305px;
  height: 180px;
  object-fit: cover;
}

.rules__box {
  padding-top: 21px;
  padding-left: 22px;
  padding-bottom: 35px;
  padding-right: 22px;
}

.rules__item time{
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--font-color-gray);
}

.item-rules__title {
  width: 182px;
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000;
  padding-top: 2px;
  padding-bottom: 10px;
}

.item-rules__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--font-color-gray);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-rules__link {
  text-decoration: none;
  display: inline-block;
  color: var(--font-color-black);
  padding-left: 30px;
  margin-top: 35px;
  background-image: url("../img/icon-dog-hand.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.rules__item--active {
  width: 640px;
  display: flex;
}

.rules__item--active .item-rules__title {
  width: 193px;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 15px;
}

.rules__item--active .item-rules__text {
  display: block;
}

.rules__item--active time {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.rules__item--active time::before {
  content: "#собака  #дом  #уход";
  color: #3D9CEA;
  margin-right: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.rules__item--active img{
  width: 305px;
  height: 435px;
}

/* TODO MAP  */

.map__iframe iframe{
  border: transparent;
}

.map{
  margin-top: 265px;
  width: 1440px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-image: url("../img/img-bg-fish.png");
  background-size: cover;
  background-position: center center;
  margin-bottom: 247px;
}

.map-fish {
  padding: 62px 465px 75px 165px;
}

.map__title {
  width: 360px;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: var(--font-color-white);
  margin: 0;
}

.map__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--font-color-gray);
  padding-bottom: 28px;
}

.map__form {
  width: 375px;
}

.map__input{
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #F3F3F3;
  margin-bottom: 14px;
}

.map__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: var(--font-color-gray);
}

.map__button {
  padding: 15px 50px;
  background-color: var(--font-color-orange);
  margin-top: 30px;
}

.map__texarea {
  resize: vertical;
}

.map__texarea::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: var(--font-color-gray);
}

/* TODO FOOTER  */

.footer{
  padding-top: 54px;
  background-color: #f3f3f3;
}

.footer__container{
  display: flex;
}

.footer__logo-box {
  width: 158px;
  margin-right: 67px;
  display: flex;
}

.footer__box {
  display: flex;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
}

.footer__list-first{
  margin-right: 87px;
}

.footer__item:not(:last-child) {
  margin-bottom: 14px;
}

.footer__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--font-color-black);
  text-decoration: none;
  white-space: nowrap;
}

.footer__link:hover {
  color: var(--font-color-orange);
  opacity: 0.8;
}

.footer__link:active {
  color: var(--font-color-orange);
  opacity: 0.6;
}

.footer__date{
  margin-left: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__adress{
  margin-right: 87px;
  margin-left: 112px;
  display: flex;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--font-color-black);
}

.footer__adress::before{
  content: '';
  flex-shrink: 0;
  display: block;
  margin-right: 9px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icon-home.svg");
}

.footer__phone-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__phone-box{
  display: flex;
}

.footer__phone-box::before {
  content: '';
  margin-right: 9px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-phone.svg");
}

.copyright{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5C5C5C;
  width: 220px;
  margin-left: auto;
}